*{
  margin: 0;
  padding: 0;
}
.App {
  font-family: "Segoe UI",Arial,sans-serif;
  padding: 50px;
  margin: 0;
  text-align: center;
  display: grid;
  height: 90vh;
  color: bisque;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr ;
  gap: 30px;
  justify-content: center;
  align-content: center;
}
.App >div{
  background-color: rgb(71, 59, 87);
  padding: 15px;
}
.b1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.b5{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.aside-bar{
  /* display: grid; */
  /* box-sizing:content-box; */
  padding-top: 200px;
  margin: 5px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.Button {
  font-family: "Segoe UI",Arial,sans-serif;
  border: none;
  color: bisque;
  padding: 10px ;
  margin: 5px;
  text-decoration: none;
  background: #251a5c;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius:1rem;
  width: 150px;
  height: 70px;
}

.Button:hover{
  background: black;
}